artifacts/
.dotnet-cli/
.vs/
**/.dotnet/
**/.tmp/

**/bin/
**/obj/
**/node_modules/
**/dist/
**/guiTemps/
**/guiLogs/
**/guiBackups/
**/guiConfigs/

tmp-*.log
tmp-*.json
*.user
*.suo
*.cache

my-vpn-zapret/resources/v2rayn/v2rayN.exe
